.login{
	height: 300px;
	width: 220px;
	margin: 100px auto;
	box-shadow: 0px 3px;
	background: rgba(0,0,0,0.8); 
}

.login .login-form{
	width: 200px;
    margin: 10px;
}
.login .login-form-button{
	width: 100%;
}
.login .userName-i{
	margin-top: 20px;
}