/*
* @Author: TomChen
* @Date:   2018-08-25 11:34:44
* @Last Modified by:   TomChen
* @Last Modified time: 2018-08-25 11:38:54
*/
.Sider a.active{
	color: #1890ff;
}

.Sider .ant-menu-item-selected{
	background-color: transparent !important;
}
.Sider .ant-menu-item-selected:after{
	border-right: none !important;
}