/*
* @Author: TomChen
* @Date:   2018-08-25 10:32:38
* @Last Modified by:   TomChen
* @Last Modified time: 2018-08-25 10:38:16
*/
.Header .logo{
	width: 120px;
    height: 31px;
    margin: 16px 28px 16px 0;
    float: left;
    color: #fff;
    line-height: 31px;
    font-size: 30px;
}
.Header .userinfo{
	float: right;
	margin-right: 20px;
	text-decoration: none;
	color: #fff;
}